#### Data Manipulation

In [1]:
import pandas as pd
import sqlite3
# import seaborn as sns

In [ ]:
# to read from db
# def load_from_db(db_path='car_data.db'):
#     conn = sqlite3.connect(db_path)
#     df = pd.read_sql_query("SELECT * FROM cars", conn)
#     conn.close()
#     return df

# to read from csv
def load_from_csv(csv_path='cars_data_20250117_220702.csv'):
    return pd.read_csv(csv_path)

# df = load_from_db()  
df = load_from_csv()   

# Basic data exploration
print("dataset info:")
print(df.info())
print("\nSample of the data:")
print(df.head())


print(df.describe())

dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               567 non-null    object
 1   year               567 non-null    int64
 2   make               567 non-null    object
 3   model              567 non-null    object
 4   badge              567 non-null    object
 5   series             486 non-null    object
 6   build_date         567 non-null    object
 7   odometer           567 non-null    int64
 8   body_type          567 non-null    object
 9   fuel               567 non-null    object
 10  transmission       567 non-null    object
 11  transmission_type  567 non-null    object
 12  seats              567 non-null    int64
 13  doors              567 non-null    int64
 14  drive_type         567 non-null    object
 15  provider           567 non-null    object
 16  location           567 non-null    object
 17  city               567 non-null    object
 18  state              567 non-null    object
 19  price              567 non-null    int64
 20  price_type         567 non-null    object
 21  car_type           567 non-null    object
 22  stock_number       567 non-null    object
 23  vin                567 non-null    object
 24  rego               486 non-null    object
 25  status             567 non-null    object
 26  colour             567 non-null    object
 27  link_to_the_car    567 non-null    object
dtypes: int64(5), object(23)
memory usage: 124.2+ KB
None

Sample of the data:
                                     name  year    make        model  \
0     2009 Toyota Landcruiser GXL UZJ200R  2009  Toyota  Landcruiser
1  2016 Toyota Landcruiser GXL VDJ79R 4X4  2016  Toyota  Landcruiser
2          2021 Audi A5 45 TFSI S line F5  2021    Audi           A5
3                2015 Mazda CX-3 Akari DK  2015   Mazda         CX-3
4           2023 Nissan Navara ST D23 4X4  2023  Nissan       Navara

            badge   series  build_date  odometer    body_type    fuel  ...  \
0             GXL  UZJ200R  2009-09-01    307232        Wagon  Petrol  ...
1             GXL   VDJ79R  2016-02-01     67917  Cab Chassis  Diesel  ...
2  45 TFSI S line       F5  2021-07-01     55317    Hatchback  Petrol  ...
3           Akari       DK  2015-02-01     57091        Wagon  Petrol  ...
4              ST      D23  2023-06-01        35      Utility  Diesel  ...

  state  price  price_type  car_type stock_number                vin    rego  \
0   VIC  35990  Drive Away      used        C1176  JTMHT09J104033460  1YL8WT
1   VIC  92990  Drive Away      used        C1279  JTEBV71J207006797  1ZF7RJ
2   VIC  55990  Drive Away      used        C2464  WAUZZZF5XNA002020  BTD011
3   VIC  22990  Drive Away      used        C2251  JM0DK2W7A00102351  AEC567
4   VIC  54888  Drive Away      demo      2837522  MNTCBND23A0029887  DDG105

     status  colour                                    link_to_the_car
0      sold  Silver  https://www.peterstevensmotorworld.com.au/vehi...
1      sold  Silver  https://www.peterstevensmotorworld.com.au/vehi...
2      sold   Black  https://www.peterstevensmotorworld.com.au/vehi...
3  in_stock     Red  https://www.peterstevensmotorworld.com.au/vehi...
4  in_stock    Grey  https://www.peterstevensmotorworld.com.au/vehi...

[5 rows x 28 columns]
              year       odometer       seats       doors         price
count   567.000000     567.000000  567.000000  567.000000    567.000000
mean   2018.952381   68701.142857    5.380952    4.666667  37475.952381
std       4.351539   74431.981977    0.950836    0.471821  17108.190913
min    2009.000000      35.000000    5.000000    4.000000  13490.000000
25%    2016.000000    3000.000000    5.000000    4.000000  22990.000000
50%    2020.000000   64746.000000    5.000000    5.000000  36999.000000
75%    2023.000000   73335.000000    5.000000    5.000000  40888.000000
max    2024.000000  307232.000000    8.000000    5.000000  92990.000000